<!DOCTYPE HTML>
<html>
<head>
<title>Pre-training for Video Understanding Challenge</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/main2021.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/2021" class="logo">ACM MM 2021</a>
		<nav id="nav">
			<a href="/2021">Home</a>
			<a href="/2021/people">People</a>
			<a href="/2021/challenge">Challenge</a>
			<a href="/2021/dataset">Dataset</a>	
		</nav>		
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner" style="max-height: 20m;">
	<div class="inner" style="margin: -4em auto">
		<h1>Pre-training for Video Understanding Challenge<br />
		@ACM Multimedia 2021</span></h1>

	</div>
</section>
<br>
<br>

<!-- One -->
<section id="intro">
	<div class="inner">
		<header>
			<h2>Introduction</h2>	
		</header>
		<p>
            The goal of this challenge is to offer a fertile ground for designing pre-training techniques that facilitate a series of video understanding downstream tasks (e.g., video captioning and video categorization this year). Hence, two tracks (Pre-training for Video Captioning and Pre-training for Video Categorization) will be involved in this grand challenge. Meanwhile, to further motivate and challenge the multimedia community, we provide two large-scale video pre-training datasets, i.e., Auto-captions on GIF (ACTION) and YOVO-3M, for contestants to solve this challenging but emerging task in each track.
        </p>
        <p>
            Particularly, in the first track, the contestants are asked to develop video captioning system based on ACTION dataset (as pre-training data) and the public MSR-VTT benchmark (as training data for downstream task). For the evaluation purpose, a contesting system is asked to produce at least one sentence of the test videos. The accuracy will be evaluated against human pre-generated sentence(s).</p> 
        </p><br>
        <p>
            In the second track, the contestants are asked to develop video categorization system based on YOVO-3M dataset (as pre-training data) and the provided YOVO-Downstream dataset (as training data for downstream task). During evaluation stage, a contesting system is asked to predict the category of the test videos. The accuracy will be evaluated against human annotated categories.</p>
		</p>
        <p> &emsp;&emsp;</p>
		<br>
       </div>
</section>

<section id="example">
	<div class="inner">
        <header>
            <h2>Pre-training for Video Captioning Track</h2>
        </header>
		<div class="box alt">
			<div class="row 50% uniform">
				<div class="3u"><span class="image fit"><img src="/static/img/1_out.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;">This monkey on the back of horse</p></div>
				<div class="3u"><span class="image fit"><img src="/static/img/2_out.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;">Disney made the best cake of all time using projection</p></div>
				<div class="3u"><span class="image fit"><img src="/static/img/3_out.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;">The dry driver returns to his car and presents his mate with kebab</p></div>
				<div class="3u$"><span class="image fit"><img src="/static/img/4_out.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;">Tiny squid flopping around on the rocky bottom of fish tank</p></div>

			</div>
		</div>

        <header>
            <h2>Pre-training for Video Categorization Track</h2>
        </header>
		<div class="box alt">
			<div class="row 50% uniform">
				<div class="3u"><span class="image fit"><img src="/static/img/gif_query_title/kYJpDcZ-7T0_000075_000085.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;"><b>Query: </b>brushing teeth</p><p style="margin-bottom: 0em; margin-top: 1em; line-height:25px;"><b>Sentence: </b>Disney Jr Puppy Dog Pals Morning Routine Brushing Teeth, Taking a Bath, and Eating Breakfast!</p></div>
				<div class="3u"><span class="image fit"><img src="/static/img/gif_query_title/IXtbJmMecAc_000223_000233.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;"><b>Query: </b>bowling</p><p style="margin-bottom: 0em; margin-top: 1em; line-height:25px;"><b>Sentence: </b>Dude Perfect Thanksgiving Turkey Bowling | FACE OFF</p></div>
				<div class="3u"><span class="image fit"><img src="/static/img/gif_query_title/GUY6ulBHI-U_000234_000244.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;"><b>Query: </b>archery</p><p style="margin-bottom: 0em; margin-top: 1em; line-height:25px;"><b>Sentence: </b>Can You Shoot an Apple Off Your Head? (William Tell Archery Challenge)</p></div>
				<div class="3u$"><span class="image fit"><img src="/static/img/gif_query_title/J11uu8L8FTY_000223_000233.gif" alt="" /></span><p style="margin-bottom: 0em; margin-top: -1em; line-height:25px;"><b>Query: </b>tiger cat</p><p style="margin-bottom: 0em; margin-top: 1em; line-height:25px;"><b>Sentence: </b>BIG CATS like boxes too!</p></div>
			</div>
		</div>


	</div>
</section>

<section id="dates">
	<div class="inner">
		<header>
			<h2>Important Dates</h2>
		</header>
		<p><b>&middot; February 21, 2021:</b> Web Site and Call for Participation Ready<br>
			<b>&middot; March 20, 2021:</b> Dataset available for download (pre-training, training, and validation set)<br>
			<b>&middot; June 11, 2021:</b> Test set available for download<br>
			<b>&middot; June 28, 2021:</b> Results submission<br>
            <b>&middot; June 29, 2021 - July 5, 2021:</b> Objective evaluation<br>
			<b>&middot; July 6, 2021:</b> Evaluation results announce<br>
			<b>&middot; July 11, 2021:</b> Paper submission deadline</p>
	</div>
</section>

<!-- Two -->
<!-- <section id="three">
	<div class="inner">
		<header>
			<h2>News</h2>
			<p>[03-12-2021]: Website is opening.</p>
		</header>
	</div>
</section> -->

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
