<!DOCTYPE HTML>
<html>
<head>
<title>Pre-training Video Captioning Challenge</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/2020" class="logo">ACM MM 2020</a>
		<nav id="nav">
			<a href="/2020">Home</a>
            <a href="/2020/people">People</a>
            <a href="/2020/challenge">Challenge</a>
            <a href="/2020/leaderboard">Leaderboard</a>
            <a href="/2020/dataset">Dataset</a>
			
		</nav>
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h1>Pre-training for Video Captioning Challenge<br />
		@ACM Multimedia 2020</span></h1>

	</div>
</section>
<br>
<br>

<!-- One -->
<section id="intro">
	<div class="inner">
		<header>
			<h2>Introduction</h2>
		</header>
		<p>The goal of this challenge is to offer a fertile ground for designing vision-language pre-training techniques that facilitate the vision-language downstream tasks (e.g., video captioning this year). Meanwhile, to further motivate and challenge the multimedia community, we provide a large-scale video-language pre-training dataset (namely "Auto-captions on GIF") for contestants to solve such challenging but emerging task.</p>
        <p>The contestants are asked to develop video captioning system based on Auto-captions on GIF dataset (as pre-training data) and the public MSR-VTT benchmark (as training data for downstream task). For the evaluation purpose, a contesting system is asked to produce at least one sentence for each test video. The accuracy will be evaluated against human pre-generated sentence(s).</p>
        </div>
</section>

<section id="example">
	<div class="inner">
		<div class="box alt">
			<div class="row 50% uniform">
				<div class="3u"><span class="image fit"><img src="/static/img/1_out.gif" alt="" /></span>This monkey on the back of horse</div>
				<div class="3u"><span class="image fit"><img src="/static/img/2_out.gif" alt="" /></span>Disney made the best cake of all time using projection</div>
				<div class="3u"><span class="image fit"><img src="/static/img/3_out.gif" alt="" /></span>The dry driver returns to his car and presents his mate with kebab</div>
				<div class="3u$"><span class="image fit"><img src="/static/img/4_out.gif" alt="" /></span>Tiny squid flopping around on the rocky bottom of fish tank</div>

			</div>
		</div>
	</div>
</section>

<section id="dates">
	<div class="inner">
		<header>
			<h2>Important Dates</h2>
			<p></p>
			<p><b>&middot; March 10, 2020:</b> Web Site and Call for Participation Ready</p>
			<p><b>&middot; March 31, 2020:</b> Dataset available for download (pre-training, training, and validation set)</p>
			<p><b>&middot; June 1, 2020:</b> Test set available for download</p>
			<p><b>&middot; June 20, 2020:</b> Results submission</p>
			<p><b>&middot; June 24, 2020:</b> Evaluation results announce</p>
			<p><b>&middot; June 29, 2020:</b> Paper submission deadline</p>
		</header>
	</div>
</section>

<!-- Two -->
<!-- <section id="three">
	<div class="inner">
		<header>
			<h2>News</h2>
			<p>[03-12-2020]: Website is opening.</p>
		</header>
	</div>
</section> -->

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>