<!DOCTYPE HTML>
<html>
<head>
<title>Pre-training for Video Captioning Challenge</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/2020" class="logo">ACM MM 2020</a>
		<nav id="nav">
			<a href="/2020">Home</a>
            <a href="/2020/people">People</a>
            <a href="/2020/challenge">Challenge</a>
            <a href="/2020/leaderboard">Leaderboard</a>
            <a href="/2020/dataset">Dataset</a>
			
		</nav>
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Main -->
<section id="main" >
	<div class="inner">
		<header class="major special">
			<h2>Leaderboard</h2>
		</header>
        <p>The downloads are coming soon ......</p>
    </div>
</section>

<section id='metrics'>
    <div class="inner">
        <header class="major special">
            <h2>Metrics</h2>
        </header>
        <p>We computed multiple common metrics, including BLEU@4, METEOR, CIDEr-D and SPICE. The performances of the primary run from each team are measured for comparison across teams. </p>
    </div>

</section>

<section id='ranking'>
    <div class="inner">
        <header class="major special">
            <h2>Ranking</h2>
        </header>
        <p>The ranking for the competition is based on the results from above metrics, respectively. Specifically, a rank list of teams is produced by sorting their scores on each metric. The final rank of a team is measured by combining its ranking positions in the four ranking list and defined as:<br>
            &emsp;&emsp;<i>R</i>(team) = <i>R</i>(team)@BLEU@4 + <i>R</i>(team)@METEOR + <i>R</i>(team)@CIDEr-D + <i>R</i>(team)@SPICE.<br>
        where <i>R</i>(team) is the rank position of the team, e.g., if the team achieves the best performance in terms of BLEU@4, thenR(team)@BLEU@4 is "1". The smaller the final ranking, the better the performance.</p>
   </div>

</section>


<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>