<!DOCTYPE HTML>
<html>
<head>
<title>Pre-training for Video Captioning Challenge</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/2020" class="logo">ACM MM 2020</a>
		<nav id="nav">
			<a href="/2020">Home</a>
            <a href="/2020/people">People</a>
            <a href="/2020/challenge">Challenge</a>
            <a href="/2020/leaderboard">Leaderboard</a>
            <a href="/2020/dataset">Dataset</a>
			
		</nav>
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Main -->
<section id="main" >
	<div class="inner">
		<header class="major special">
			<h2>People</h2>
		</header>
    </div>
</section>

<section>
    <div class="inner">
        <div class="box alt">
            <div class="row 50% uniform">
                <div class="2u"><span class="image fit"><img src="/static/img/yingwei_out.jpg" alt="" /></span><div class="caption"><center><h3>Yingwei Pan</h3><p>JD AI Research</p></center></div></div>
                <div class="2u"><span class="image fit"><img src="/static/img/junxu_out.jpg" alt="" /></span><div class="caption"><center><h3>Jun Xu</h3><p>JD AI Research</p></center></div></div>
                <div class="2u"><span class="image fit"><img src="/static/img/yehao_out.jpg" alt="" /></span><div class="caption"><center><h3>Yehao Li</h3><p>JD AI Research</p></center></div></div>
                <div class="2u"><span class="image fit"><img src="/static/img/tingyao_out.jpg" alt="" /></span><div class="caption"><center><h3>Ting Yao</h3><p>JD AI Research</p></center></div></div>
                <div class="2u$"><span class="image fit"><img src="/static/img/tao-photo2_out.jpg" alt="" /></span><div class="caption"><center><h3>Tao Mei</h3><p>JD AI Research</p></center></div></div> 
            </div>
        </div>
    </div>
</section>

<section>
    <div class="inner">
        <header class="major special">
            <h2>Contact</h2>            
        </header>
        <p>Yingwei Pan: panyw.ustc@gmail.com<br>
        Jun Xu: junx1992@gmail.com<br>
        Yehao Li: yehaoli.sysu@gmail.com<br>
        Ting Yao: tingyao.ustc@gmail.com</p>
    </div>
</section>


<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>